<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>{{news_title}}</div>
        <div>{{news_p}}</div>
        <div>{{featured_image_url}}</div>
        <div>{{marsEqDia}}</div>
        <div>{{marsPolDia}}</div>
        <div>{{marsMass}}</div>
        <div>{{marsMoons}}</div>
        <div>{{marsOrbDist}}</div>
        <div>{{marsOrbPer}}</div>
        <div>{{marsSurfTemps}}</div>
        <div>{{marsFirstRecord}}</div>
        <div>{{marsRecBy}}</div>
        <div>{{mars_facts_html_table | safe }}</div>
    </body>
</html>